/*/Prodcutos/*/


.div-card{
    display: flex;
    align-items:center;
    justify-content: center;

}

.card{
    text-align: center;
    margin: 5px;
}
.card-img-top{
	
    height: 600px;
    width: 200px;
} 

.div-card :hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 16px rgba(56, 134, 250, 0.226);
}



